.sectionData .about_first_span{
   font-size: 3.2rem;
}
.sectionData .about_sec_span{
   font-size: 1.8rem;
}
.aboutList{
    display: flex;
}
.aboutList ul{
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 0px;
}
 .aboutList ul li{
    list-style: none;
    font-size: 3rem;
    margin-right: 40px;
 }
 .aboutList ul li:nth-child(5){
   margin-right: 0px;
 }
 .aboutList ul li::before{
    content: '';
    display: inline-block;
    position: relative;
    top: 4px;
    width: 30px;
    height: 30px;
    background-image: url('../Images/redTick.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 10px;
 }
 .aboutList ul li:nth-child(5):before{
    content: '';
    display: inline-block;
    position: relative;
    top: 4px;
    width: 30px;
    height: 30px;
    background-image: url('../Images/phoneIcon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 30px;
 }

 @media (max-width: 900px) {
   .sectionData .about_sec_span {
      font-size: 2.3rem;
  }  
}
@media (max-width: 760px) {
   .sectionData .about_first_span{
      font-size: 3.9rem;
   }
   .sectionData .about_sec_span {
      font-size: 2.7rem;
  }
 }

 @media (max-width: 650px) {
   .sectionData .about_sec_span{
      font-size: 2.6rem;
   }
 }
 @media (max-width: 540px) {
   .sectionData .about_first_span {
      font-size: 3.7rem;
  }
  .sectionData .about_sec_span {
   font-size: 2.95rem;
}
 }