.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3rem;
}
.logo{
    width: 32.8rem;
    height: 7rem;
}
.headLinks .link{
    color: white;
}
.headLinks .link:hover{
    color: #FF4137;
}

.header ul li{
    list-style: none;
    display: inline-flex;
    margin: 0px 10px;
    height: 18px;
    padding: 0rem 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header ul li{
    font-size: 2.3rem;
}
.menu .search,
.menu .hamburg{
    width: 3.3rem;
    height: 3.3rem;
    margin: 0rem 1rem;
}
@media (max-width: 480px) {
    .header ul li {
        padding: 0rem 1rem;
        margin: 0px 0.6rem;
        font-size: 4rem;
    }
    .menu .search, .menu .search,
    .menu .search, .menu .hamburg{
        width: 5.3rem;
        height: 5.3rem;
        margin: 0rem 2rem;
    }
}
@media (max-width: 320px) {
    .menu .search,
    .menu .hamburg {
        width: 4.3rem;
        height: 4.3rem;
        margin: 0rem 2rem;
    }
    .header ul li {
        font-size: 3rem;

    }
}