.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand{
    width: 308px;
    height: 67px;
}
.logo{
    width: 308px;
    height: 67px;
}
.headLinks .link{
    color: white;
}
.canvasLinks .link{
    color: white;
}
.headLinks .link:hover{
    color: red;
}
.canvasLinks .link:hover{
    color: red;
}

.header ul li{
    list-style: none;
    display: inline-flex;
    margin: 0px 10px;
    height: 18px;
    font-size: 1.52rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu .search{
    width: 22.84px;
    height: 23.31px;
}

.menu .hamburg{
    width: 24.31px;
    height: 15.89px;
}