
@media (min-width: 2901px) {
  html{
      font-size: 95.5%;
  }
}
@media (max-width: 2900px) {
  html{
      font-size: 73.5%;
  }
}
@media (max-width: 1900px) {
  html{
      font-size: 54.5%;
  }
}
@media (max-width: 1299px) {
  html{
      font-size: 40.5%;
  }
}
  @media (max-width: 1099px) {
    html{
        font-size: 39.5%;
    }
  }
  @media (max-width: 900px) {
    html{
        font-size: 34.5%;
    }
  }
  @media (max-width: 760px) {
    html{
        font-size: 29.5%;
    }
  }
  @media (max-width: 650px) {
    html{
        font-size: 25.5%;
    }
  }
  @media (max-width: 540px) {
    html{
        font-size: 23.5%;
    }
  }
  @media (max-width: 480px) {
    html{
      font-size: 14.5%;
    }
  }
  @media (max-width: 320px) {
    html {
      font-size: 11%;
    }
  }