@media (min-width: 1300px) {
  html{
      font-size: 50.5%;
  }
}
  @media (max-width: 1099px) {
    html{
        font-size: 42.5%;
    }
  }
  @media (max-width: 900px) {
    html{
        font-size: 35.5%;
    }
  }
  @media (max-width: 760px) {
    html{
        font-size: 30.5%;
    }
  }
  @media (max-width: 650px) {
    html{
        font-size: 26.5%;
    }
  }
  @media (max-width: 540px) {
    html{
        font-size: 26.5%;
    }
  }
  @media (max-width: 300px) {
    html{
        font-size: 20.8%;
    }
  }