.tab-container {
    box-sizing: border-box;
    margin: 40px auto;
  }
  
  .active{
    background: rgba(255, 65, 55, 1);
    outline: 1px solid rgb(29, 28, 28);
  }

  .tab-buttons {
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-size: 1.6rem;
    width: 77.0rem;
    height: 7.0rem;
    border-radius: 35px;
  }

  .tab-buttons button{
    border: 0px solid black;
  }

  .tab-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
  }

  .tab-content img {
    margin: 0px 5px;
  }
  
  @media (max-width: 600px) {
    .tab-container {
      max-width: 40.0rem;
    }
    .tab-buttons img {
      width: 3.0rem;
      height: 3.0rem;
    }
  }